footer {
    padding: 40px 0 30px 0;
    background: #333333;
    margin-bottom: 50px;

    @media (max-width:917px) {
        margin-bottom: 0px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        li {
            margin-left: 15px;

            a {
                color:rgba(255, 255, 255, 0.7);
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    color:$white;
                }

            }
        }
    }

    p {
        text-align: center;
        color: $white;
        padding: 0 15px;
    }
}