#others  {
    @include grid (grid, 1fr 1fr 1fr);
    column-gap: 15px;
    padding: 40px 15px 80px 15px;
    background: $white;

    @media (max-width: 627px) {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 1.0625rem;
        font-weight: 500;
        margin: 20px 0 15px 0;

        @media (max-width: 627px) {
            margin-bottom: 10px;
        }
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        text-align: center;

        @media (max-width: 627px) {
            margin-bottom: 20px;
        }
    }

}