.bg {
    background-image: url("../img/banner.png");
    background-size: cover;
    background-color: #7034db; }
  
  #cabecalho {
    margin-top: 50px;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 917px) {
      #cabecalho {
        margin-top: 0px; } }
    @media (max-width: 450px) {
      #cabecalho {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    #cabecalho h1 a {
      color: #fff;
      margin: 0 20px;
      text-decoration: none; }
    #cabecalho nav {
      margin-top: 9px; }
      #cabecalho nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #cabecalho nav ul li {
          margin-right: 15px; }
          #cabecalho nav ul li a {
            text-decoration: none;
            font-size: 1.0625em;
            color: rgba(255, 255, 255, 0.7);
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
            #cabecalho nav ul li a:hover {
              color: #fff; }
        @media (max-width: 450px) {
          #cabecalho nav ul {
            margin-left: 30px; } }
  
  .container1 {
    margin-top: 40px;
    padding-bottom: 70px;
    text-align: center; }
    .container1 h1 {
      color: #793ae9;
      text-shadow: 15.629px 36.82px 50px rgba(94, 36, 198, 0.75);
      font-weight: 900;
      font-size: 5.625rem;
      line-height: 1.15;
      margin-bottom: 40px; }
      @media (max-width: 501px) {
        .container1 h1 {
          font-size: 4.375em; } }
      @media (max-width: 390px) {
        .container1 h1 {
          font-size: 3.25rem; } }
    .container1 a {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 0.75rem;
      padding: 5px 15px 7px 15px;
      line-height: 1.2;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .container1 a:hover {
        color: #000;
        border: none;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#f58e9a), to(#fbe44c));
        background-image: linear-gradient(0deg, #f58e9a 0%, #fbe44c 100%); }
  
  .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: default;
            column-gap: default;
    padding-bottom: 40px;
    background: #fff; }
    @media (max-width: 627px) {
      .container2 {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
    .container2 .box {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 75px minmax(200px, 1fr);
          grid-template-columns: 75px minmax(200px, 1fr);
      margin: 20px 0 0 20px; }
      .container2 .box figure {
        grid-row: span 2; }
      .container2 .box img {
        width: 55px; }
      .container2 .box h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0625rem;
        color: #222222;
        margin-bottom: 15px; }
      .container2 .box p {
        color: #777777;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        padding-right: 10px;
        -ms-grid-column: 2;
        grid-column: 2; }
  
  #company {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: default;
            column-gap: default;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    padding: 60px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f9f9ff; }
    @media (max-width: 627px) {
      #company {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
    #company .ourcompany {
      margin-left: 15px; }
      #company .ourcompany h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.3125rem;
        line-height: 1.2;
        margin-bottom: 10px; }
        @media (max-width: 627px) {
          #company .ourcompany h2 {
            margin-top: -20px;
            text-align: center; } }
      #company .ourcompany p {
        color: #777777;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem;
        padding: 0 10px; }
      @media (max-width: 627px) {
        #company .ourcompany {
          text-align: center;
          margin-bottom: 20px;
          margin-left: 0px; } }
    @media (max-width: 627px) {
      #company figure {
        text-align: center; } }
    #company figure img {
      max-width: 80%; }
    #company .history {
      margin-right: 20px; }
      #company .history h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 10px; }
        @media (max-width: 627px) {
          #company .history h3 {
            margin: 20px 0 15px 0;
            text-align: center; } }
      #company .history p {
        color: #777777;
        font-family: 'Poppins', sans-serif;
        font-size: 0.75rem; }
        @media (max-width: 627px) {
          #company .history p {
            text-align: center; } }
      @media (max-width: 627px) {
        #company .history {
          margin-left: 20px; } }
  
  #others {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: default;
            column-gap: default;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    padding: 40px 15px 80px 15px;
    background: #fff; }
    @media (max-width: 627px) {
      #others {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
    #others img {
      width: 100%; }
    #others h3 {
      font-family: 'Poppins', sans-serif;
      text-align: center;
      font-size: 1.0625rem;
      font-weight: 500;
      margin: 20px 0 15px 0; }
      @media (max-width: 627px) {
        #others h3 {
          margin-bottom: 10px; } }
    #others p {
      font-family: 'Poppins', sans-serif;
      font-size: 0.75rem;
      text-align: center; }
      @media (max-width: 627px) {
        #others p {
          margin-bottom: 20px; } }
  
  #crafting {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: default;
            column-gap: default;
    background-color: #7034db;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 627px) {
      #crafting {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
    #crafting img {
      width: 100%;
      height: 100%;
      background-size: cover; }
    #crafting .boxtext {
      padding: 10px 30px; }
      @media (max-width: 627px) {
        #crafting .boxtext {
          padding: 10px 15px; } }
      #crafting .boxtext h1 {
        font-size: 2rem;
        color: #fff;
        line-height: 1.3;
        margin-bottom: 15px; }
      #crafting .boxtext p {
        color: #fff;
        line-height: 1.5; }
  
  footer {
    padding: 40px 0 30px 0;
    background: #333333;
    margin-bottom: 50px; }
    @media (max-width: 917px) {
      footer {
        margin-bottom: 0px; } }
    footer nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 20px; }
      footer nav ul li {
        margin-left: 15px; }
        footer nav ul li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          footer nav ul li a:hover {
            color: #fff; }
    footer p {
      text-align: center;
      color: #fff;
      padding: 0 15px; }
  
  #subscribe {
    background: #f9f9ff;
    padding: 100px 0; }
    #subscribe h2 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-bottom: 15px; }
    #subscribe p {
      text-align: center;
      margin-bottom: 30px;
      padding: 0 15px; }
    #subscribe form {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 320px 150px;
          grid-template-columns: 320px 150px;
      -webkit-column-gap: default;
              column-gap: default;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px;
      position: relative; }
      @media (max-width: 510px) {
        #subscribe form {
          -ms-grid-columns: 1fr;
              grid-template-columns: 1fr;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          justify-items: center; } }
      #subscribe form [type=email] {
        height: 40px;
        width: 400px;
        padding-left: 10px;
        margin-left: 53px;
        border-radius: 30px;
        border: 1px solid transparent;
        outline: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        #subscribe form [type=email]:focus {
          border: 1px solid #fbe44c; }
        @media (max-width: 510px) {
          #subscribe form [type=email] {
            max-width: 290px;
            margin: 0 20px 20px 20px; } }
      #subscribe form button {
        border-radius: 30px;
        border: none;
        width: 150px;
        height: 40px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#f58e9a), to(#fbe44c));
        background-image: linear-gradient(0deg, #f58e9a 0%, #fbe44c 100%);
        color: #f2f2f2;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        #subscribe form button span {
          margin-left: 5px;
          position: absolute;
          color: #fff;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        #subscribe form button:hover > span {
          color: #000;
          -webkit-transform: translateX(5px);
                  transform: translateX(5px); }
        #subscribe form button:hover {
          color: #000; }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  body {
    max-width: 900px;
    margin: 0 auto;
    color: #222222;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#8546f6), to(#955bf9));
    background-image: linear-gradient(0deg, #8546f6 0%, #955bf9 100%); }
  /*# sourceMappingURL=style.css.map */